@font-face {
  font-family: 'ralewayregular';
  src: url('./../../assets/fonts/raleway-regular-webfont.woff2') format('woff2'),
    url('./../../assets/fonts/raleway-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

[type='date'] {
  background: #fff
    url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)
    97% 50% no-repeat;
}
[type='date']::-webkit-inner-spin-button {
  display: none;
}
[type='date']::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.pure-g {
  letter-spacing: 0em !important;
  font-family: 'ralewayregular', sans-serif !important;
}

.createEventForm {
  display: flex;
  justify-content: center;
}

.pure-form input[type='textarea'] {
  width: 200px;
}

#placeholder {
  height: 50px;
}

input#primaryDate,
input#secondaryDate,
input#tertiaryDate,
select#type {
  padding: 3px 5px;
  margin-right: 0px !important;
}

.submit-button {
  float: inline-end;
}
